=form_for [:admin, @post] do |f|
  .form-group
    =f.label :body
    =f.trix_editor :body
  .form-group
    =f.label :owner
    =f.text_field :owner, :value => (@post.owner.nil? ? '' : @post.owner.name), :readonly => true, class: "form-control"
  .form-group
    =f.submit class: "btn btn-default"