=form_for [:admin, @product] do |f|
  .form-group
    =f.label :name
    =f.text_field :name, class: "form-control"
  .form-group
    =f.label :base_price_string
    =f.text_field :base_price_string, class: "form-control money"
  .form-group
    = f.label :images
    = f.file_field :images, multiple: true, name: "product[files][]"
  .form-group
    =f.submit class: "btn btn-default"