.website-logo
  margin: 5px
  display: block
  float: left 
  img
    height: 90px

.red-line
  border-top: 1px solid $logo-vermelho
  border-top: 1px solid $logo-vermelho-transp

.white-line
  border-top: 1px solid $white
  border-top: 1px solid $white-transp

.navbar
  width: 100%
  background: $preto-transp
  float: left
  ul
    width: 100%
    li
      //display: none
      &:hover
        background: rgba(155, 26, 33, 0.27)
      &:first-child
        display: block
        float: left
        span
          padding: 15px 20px
          line-height: 20px
  .navbar-nav
    background: red
    @include respond-to(handhelds)
      max-width: 200px
      position: absolute
      background: $preto-transp
      overflow-y: auto

    li
      width: 100%
      &:hover
        background: rgba(155, 26, 33, 0.27)
  a
    cursor: pointer

.main-nav
  clear: both

.fix-header
  position: fixed
  top: 0


