.website-logo
  margin: 5px
  display: block
  float: left 
  img
    height: 90px

.top-header
  height: 100px

.top-container
  height: 150px


.red-line
  border-top: 1px solid $logo-vermelho
  border-top: 1px solid $logo-vermelho-transp

.white-line
  border-top: 1px solid $white
  border-top: 1px solid $white-transp

.navbar
  background: $preto-transp
  float: left
  width: 100%
  margin: 0

  ul
    width: 100%
  
    li
      &:hover
        background: rgba(155, 26, 33, 0.27)

    .cake-icon
      display: none
      @include respond-to(handhelds)
        display: block
        float: left
  
      span
        padding: 15px 20px
        line-height: 20px

  .navbar-nav
    margin: 0
    @include respond-to(handhelds)
      max-height: 0 
      width: 200px
      position: absolute
      background: $preto-transp
      overflow-y: auto
      transition-property: all
      transition-duration: .5s
      transition-timing-function: ease-in
      &.visible-menu
        max-height: 600px

    li
      float: left
      @include respond-to(handhelds)
        width: 100%
      &:hover
        background: rgba(155, 26, 33, 0.27)

  a
    cursor: pointer

.main-nav
  clear: both

.fix-header
  position: fixed
  top: 0


